#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: right;
}
#nav_menu ul li a {
    display: block;
    width: 80px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #83c287;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: rgb(63, 78, 66);
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul li:hover > ul {
	display: block;
    background-color: #446947;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
#header {
background-color: #83c287;
}